.title {
    position: relative;
    color:#616161;
    margin-top: 5%;
    font-size: 60px;
    font-weight: 650;
    text-align: center;
}

.desc {
    text-align: center;
}

.btn1 {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(54, 54, 54);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(54, 54, 54);
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
  }
  
.btn1:hover {
    color: white;
    background-color: rgb(54, 54, 54);
    text-decoration: none;
  }

.btn2 {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(54, 54, 54);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(54, 54, 54);
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
  }
  
.btn2:hover {
    color: white;
    background-color: rgb(54, 54, 54);
    text-decoration: none;
}