body {
    background-color: #393939;
    margin: 0;
    padding: 0;
}

#header {
    display: block;
    background-color: #616161;
    height: 100px;
    width: 100%;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }